      <header class="app-header">
          <div class="title">
            <h1>Fishermans BANKING</h1>
          </div>
          <button class="menu-open-button" (click)="toggleMenu()">
            <span class="menu-icon">☰</span>
          </button>
          <div class="navigation-buttons" [class.menu-open]="isMenuOpen">
            <button class="close-menu" (click)="closeMenu()">×</button>
            <button mat-button [routerLink]="['/home/dashboard']" (click)="closeMenu()" class="nav-button">Home</button>
            <button mat-button [routerLink]="['/home/e-cockpit']" (click)="closeMenu()" class="nav-button">e-Cockpit</button>
            <button class="logout-button" (click)="logout(); closeMenu()">
              Logout {{ userName ? '' + userName + '' : '' }}
            </button>
          </div>
        </header>
        <router-outlet></router-outlet>
